<%= form_for [:admin, @post], :html => { :class => "posts-form" } do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :title, :class => 'control_label' %><br>
    <div class="control">
      <%= f.text_field :title %>
    </div>  
  </div>
  <div class="control-group">
    <%= f.label :slug, 'Slug (if you leave this blank it will be created for you)', :class => 'control_label' %><br>
    <div class="control">
      <%= f.text_field :slug %>
    </div>  
  </div>
  <div class="control-group">
    <%= f.label :categories, :class => 'control_label' %><br>
    <div class="control">
      <%= f.text_field :categories %>
    </div>  
  </div>
  <div class="control-group">
    <%= f.label :tags, :class => 'control_label' %><br>
    <div class="control">
      <%= f.text_field :tags %>
    </div>  
  </div>
  <div class="control-group">
    <%= f.label :body, :class => 'control_label' %><br>
    <div class="control">
      <%= f.text_area :body, :class => 'ckeditor' %>
    </div>  
  </div>
  <div class="control-group">
    <%= f.label :excerpt, :class => 'control_label' %><br>
    <div class="control">
      <%= f.text_area :excerpt %>
    </div>  
  </div>

 
  <div>
    <%= link_to 'Cancel', admin_posts_path, :class => 'btn' %>
    <% if @post.published? %>
      <%= link_to 'Unpublish', :class => 'btn btn-primary', publish: :false %>
      <%= f.submit 'Update', :class => 'btn btn-primary' %>
    <% else %>
      <%= f.submit 'Save as draft', :class => 'btn', publish: :false  %>
      <%= f.submit 'Publish', :class => 'btn btn-primary', publish: :true %>
    <% end %>    
  </div>
<% end %>
