<p id="notice"><%= notice %></p>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @administrator.email %></td>
      <td><%= link_to 'Show', @administrator %></td>
      <td><%= link_to 'Edit', edit_administrator_path(@administrator) %></td>
      <td><%= link_to 'Destroy', @administrator, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_administrator_path(@administrator) %> |
<%= link_to 'Back', administrators_path %>
