<!DOCTYPE html>
<html>
<head>
  <title>Home | Riot Radio</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta property="og:type" content="blog" />
	<meta property="og:site_name" content="Riot Radio" />
	<meta property='og:url' content="http://www.riotradio.co.nz" />
	<script type="text/javascript" src="http://www.riotradio.co.nz/wp-content/plugins/lastfm-recent-tracks-widget/js/jquery.lastfm.js"></script>
	<script type="text/javascript">
		jQuery(function(){
			jQuery('.lastfm_record').mosaic({
				animation	: '',
				speed		: ,
				anchor_y : 'bottom'				});
		});	
	</script>
	</head>
	<body class="home blog">
		
		<%= render 'shared/navigation' %>

		<div class="container">
			<%= yield %>
		</div>		

	</body>
</html>







	<div id="main">

		<div id="container">
        	
			<div id="content" role="main">
				<h2><a href="/"><img src="/wp-content/themes/riotradio/images/latest.jpg" alt="latest" border="0" /></a></h2>
						
			
			<div class="homepage-story">
			<h2 class="entry-title"><strong><a href="http://www.riotradio.co.nz/2013/05/music-is-doing-fine-youre-the-one-thats-stagnant/">Music is doing fine, you&#8217;re the one that&#8217;s stagnant</a></strong></h2>
			
            <small class="author-info">May 19th, 2013 by <a href="http://www.riotradio.co.nz/author/nostars/" title="Posts by Mike" rel="author">Mike</a></small><br />
			<img width="250" height="176" src="http://www.riotradio.co.nz/wp-content/uploads/2013/05/images.jpg" class="left wp-post-image" alt="The &quot;good old days&quot;" />				
				<p>It seems to be a common gripe from people my age (early 30s) that music is somehow not as good as it once was. As someone who listens to a lot of new music, this attitude really fucking annoys me. For a start there is arguably more great music out there today than at any point in popular music&#8217;s history, and it&#8217;s more readily available than ever. Sure, the music industry as a business may have collapsed in on itself but believe me, that is not a bad thing. If you feel bad about music executives not getting $35 a pop on the music that you&#8217;re now getting for free then I&#8217;m sorry, you don&#8217;t deserve good music anyway. We don&#8217;t need your pity. Some people are quite happy to listen to nothing but old music, and I find that really sad. Have you noticed that it&#8217;s almost always from &hellip; <a href="http://www.riotradio.co.nz/2013/05/music-is-doing-fine-youre-the-one-thats-stagnant/">Read more <span class="meta-nav">&rarr;</span></a></p>
                <a href="http://www.riotradio.co.nz/2013/05/music-is-doing-fine-youre-the-one-thats-stagnant/#respond" title="Comment on Music is doing fine, you&#8217;re the one that&#8217;s stagnant"></a><br />
                <small>Posted in <a href="http://www.riotradio.co.nz/category/conservative-music-journalism/" title="View all posts in Conservative Music Journalism" rel="category tag">Conservative Music Journalism</a>, <a href="http://www.riotradio.co.nz/category/rants/" title="View all posts in Rants" rel="category tag">Rants</a></small><br />
                <small></small><br /><br />
                
                <!--<div class="homepage-share-buttons">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs)		;}}(document,"script","twitter-wjs");</script>
                    <div class="fb-like" data-href="" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false"></div>                    
                </div>-->
                
                
                <hr />
				</div><!-- End of class="homepage-story"-->
				
                			
			
			<div class="homepage-story">
			<h2 class="entry-title"><strong><a href="http://www.riotradio.co.nz/2013/05/top-songs-the-1975-sex/">Top Songs: The 1975 &#8211; &#8216;Sex&#8217;</a></strong></h2>
			
            <small class="author-info">May 18th, 2013 by <a href="http://www.riotradio.co.nz/author/nostars/" title="Posts by Mike" rel="author">Mike</a></small><br />
			<img src='http://www.riotradio.co.nz/wp-content/uploads/2013/05/sex_ep_music.jpg' class='left' width='250' />				
				<p>Wow. I somehow missed Manchester band The 1975&#8242;s Sex EP when it came out late last year, which is a shame cause it&#8217;s fucking amazing. I&#8217;ve caught up now though, and I have to say that &#8220;Sex&#8221; is one of the best songs I&#8217;ve heard for ages. I just can&#8217;t stop listening to it. The band have two EPs out at present &#8211; the aforementioned Sex and the more recent Music For Cars, which is also excellent &#8211; and a third, IV, on the way later this week. There&#8217;s also an album due in September which based on everything else they&#8217;ve done could be a contender for album of the year. &#8220;Sex&#8221; is admittedly a bit of a departure from the band&#8217;s usual sound which is more upbeat dreampop, but all of their tunes are pretty amazing regardless of style. &#8220;Sex&#8221; sort of reminds me of Glasvegas at their finest &hellip; <a href="http://www.riotradio.co.nz/2013/05/top-songs-the-1975-sex/">Read more <span class="meta-nav">&rarr;</span></a></p>
                <a href="http://www.riotradio.co.nz/2013/05/top-songs-the-1975-sex/#respond" title="Comment on Top Songs: The 1975 &#8211; &#8216;Sex&#8217;"></a><br />
                <small>Posted in <a href="http://www.riotradio.co.nz/category/awesome-shit/" title="View all posts in Awesome Shit" rel="category tag">Awesome Shit</a>, <a href="http://www.riotradio.co.nz/category/best-new-music/" title="View all posts in Best New Music" rel="category tag">Best New Music</a>, <a href="http://www.riotradio.co.nz/category/news/" title="View all posts in News" rel="category tag">News</a></small><br />
                <small>Tagged with: <a href="http://www.riotradio.co.nz/tag/the-1975/" rel="tag">the 1975</a></small><br /><br />
                
                <!--<div class="homepage-share-buttons">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs)		;}}(document,"script","twitter-wjs");</script>
                    <div class="fb-like" data-href="" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false"></div>                    
                </div>-->
                
                
                <hr />
				</div><!-- End of class="homepage-story"-->
				
                			
			
			<div class="homepage-story">
			<h2 class="entry-title"><strong><a href="http://www.riotradio.co.nz/2013/04/the-strypes-are-fucking-great/">The Strypes are fucking great</a></strong></h2>
			
            <small class="author-info">April 13th, 2013 by <a href="http://www.riotradio.co.nz/author/nostars/" title="Posts by Mike" rel="author">Mike</a></small><br />
			<img width="223" height="226" src="http://www.riotradio.co.nz/wp-content/uploads/2013/04/thestrypes.jpg" class="left wp-post-image" alt="The Strypes - Blue Collar Jane" />				
				<p>I wasn&#8217;t too sure about the hype surrounding Ireland&#8217;s The Strypes the first time I heard them.The return of UK* guitar pop has been falsely heralded more times than Pete Doherty&#8217;s had hepatitis scares. But occasionally its worth investigating further than the hype (the Arctic Monkeys anyone?) and sometimes it takes a live performance to really understand what a band is &#8220;about&#8221;. The Strypes first few releases were covers of rhythm and blues standards by the likes of Bo Diddley and Muddy Waters, and although undoubtably brilliant, it wasn&#8217;t until I saw a live performance of their first original single &#8220;Blue Collar Jane&#8221; on the Jools Holland show earlier this week that I really fell in love with this band: Fucking magic. The fact that they&#8217;re only 16 years old and hail from the Irish equivalent of Palmerston North makes them even more special. I can&#8217;t wait to hear more &hellip; <a href="http://www.riotradio.co.nz/2013/04/the-strypes-are-fucking-great/">Read more <span class="meta-nav">&rarr;</span></a></p>
                <a href="http://www.riotradio.co.nz/2013/04/the-strypes-are-fucking-great/#respond" title="Comment on The Strypes are fucking great"></a><br />
                <small>Posted in <a href="http://www.riotradio.co.nz/category/awesome-shit/" title="View all posts in Awesome Shit" rel="category tag">Awesome Shit</a>, <a href="http://www.riotradio.co.nz/category/best-new-music/" title="View all posts in Best New Music" rel="category tag">Best New Music</a>, <a href="http://www.riotradio.co.nz/category/streaming/" title="View all posts in Streaming" rel="category tag">Streaming</a>, <a href="http://www.riotradio.co.nz/category/top-songs/" title="View all posts in Top Songs" rel="category tag">Top Songs</a>, <a href="http://www.riotradio.co.nz/category/uncategorized/" title="View all posts in Uncategorized" rel="category tag">Uncategorized</a></small><br />
                <small>Tagged with: <a href="http://www.riotradio.co.nz/tag/the-strypes/" rel="tag">the strypes</a></small><br /><br />
                
                <!--<div class="homepage-share-buttons">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs)		;}}(document,"script","twitter-wjs");</script>
                    <div class="fb-like" data-href="" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false"></div>                    
                </div>-->
                
                
                <hr />
				</div><!-- End of class="homepage-story"-->
				
                			
			
			<div class="homepage-story">
			<h2 class="entry-title"><strong><a href="http://www.riotradio.co.nz/2013/03/peace-in-love/">Peace &#8211; &#8216;In Love&#8217;</a></strong></h2>
			
            <small class="author-info">March 19th, 2013 by <a href="http://www.riotradio.co.nz/author/acemcwicked/" title="Posts by Dan" rel="author">Dan</a></small><br />
			<img src='http://www.riotradio.co.nz/wp-content/uploads/2013/03/Peace.jpg' class='left' width='250' />				
				<p>Clearly among the front runners in the UK&#8217;s &#8216;great indie hopefuls&#8217; for 2013, Birmingham&#8217;s Peace were apparently the best think at this year&#8217;s SXSW music festival since &#8216;large rimmed glasses&#8217; and &#8216;not acting like you&#8217;d think a Texan would act&#8217;. They&#8217;ve chucked a lot of the album up here on Soundcloud, which is frightfully nice of them. I am still coming up with some meaningless superlatives to describe their sound, by which I mean I am still digesting it, but have a listen yourself and have a crack. One of their cracking tunes is below. Enjoy, and Peace out. Yep. I went there. The NME may have beaten us to the album review but I beat them to the joke.  Well, okay &#8216;joke&#8217; is pushing it too&#8230; &nbsp; Tweet</p>
                <a href="http://www.riotradio.co.nz/2013/03/peace-in-love/#respond" title="Comment on Peace &#8211; &#8216;In Love&#8217;"></a><br />
                <small>Posted in <a href="http://www.riotradio.co.nz/category/awesome-shit/" title="View all posts in Awesome Shit" rel="category tag">Awesome Shit</a>, <a href="http://www.riotradio.co.nz/category/best-new-music/" title="View all posts in Best New Music" rel="category tag">Best New Music</a></small><br />
                <small></small><br /><br />
                
                <!--<div class="homepage-share-buttons">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs)		;}}(document,"script","twitter-wjs");</script>
                    <div class="fb-like" data-href="" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false"></div>                    
                </div>-->
                
                
                <hr />
				</div><!-- End of class="homepage-story"-->
				
                			
			
			<div class="homepage-story">
			<h2 class="entry-title"><strong><a href="http://www.riotradio.co.nz/2013/03/ii-unknown-mortal-orchestra/">Unknown Mortal Orchestra &#8211; &#8216;II&#8217;</a></strong></h2>
			
            <small class="author-info">March 1st, 2013 by <a href="http://www.riotradio.co.nz/author/acemcwicked/" title="Posts by Dan" rel="author">Dan</a></small><br />
			<img width="224" height="224" src="http://www.riotradio.co.nz/wp-content/uploads/2013/02/II.jpg" class="left wp-post-image" alt="II" />				
				<p>In 2011, when Unknown Mortal Orchestra released their debut self titled album, not liking Unknown Mortal Orchestra in some circles was considered a crime against New Zealand.  It was a bit like saying you didn&#8217;t like The Hobbit or  Sir Edmund Hillary . If I&#8217;d been better looking I&#8217;d have been labelled an ultra-hipster for my view that they were over-rated and that there was nothing &#8216;stand-out&#8217; about them that raised them above the rest except for their Mint Chicks pedigree. The thing is, I was wrong.  I was wrong because I missed the point.  Unknown Mortal Orchestra didn&#8217;t write stand out tunes that jumped out at you and that you felt straight away.  The thing is, they did stand out but they stood out in your mind later &#8211; the complex, meandering guitar, the strange drum patterns, the vocals buried deep in the mix.  I should have known better. You could &hellip; <a href="http://www.riotradio.co.nz/2013/03/ii-unknown-mortal-orchestra/">Read more <span class="meta-nav">&rarr;</span></a></p>
                <a href="http://www.riotradio.co.nz/2013/03/ii-unknown-mortal-orchestra/#respond" title="Comment on Unknown Mortal Orchestra &#8211; &#8216;II&#8217;"></a><br />
                <small>Posted in <a href="http://www.riotradio.co.nz/category/reviews/" title="View all posts in Reviews" rel="category tag">Reviews</a></small><br />
                <small></small><br /><br />
                
                <!--<div class="homepage-share-buttons">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs)		;}}(document,"script","twitter-wjs");</script>
                    <div class="fb-like" data-href="" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false"></div>                    
                </div>-->
                
                
                <hr />
				</div><!-- End of class="homepage-story"-->
				
                			
			
			<div class="homepage-story">
			<h2 class="entry-title"><strong><a href="http://www.riotradio.co.nz/2013/02/new-music-mix-feb-2013/">New music mix &#8211; February 2013</a></strong></h2>
			
            <small class="author-info">February 21st, 2013 by <a href="http://www.riotradio.co.nz/author/nostars/" title="Posts by Mike" rel="author">Mike</a></small><br />
			<img width="250" height="250" src="http://www.riotradio.co.nz/wp-content/uploads/2013/02/vinyl-record.jpg" class="left wp-post-image" alt="vinyl-record" />				
				<p>So 2013 is shaping up to be a pretty great year for music all ready. We’ve already had a new Postal Service track after 10 years, not to mention the first new My Bloody Valentine record in 22 years(!). Plus on the horizon we’ve got new albums on the way from old Riot Radio favourites like Wavves, Theophilus and Bad Religion. Plus there’s already been a handful of exciting new acts ripping shit up: Free Energy, Pure Love, Joey Bada$$, and Bleeding Rainbow to name just a few. <a href="http://www.riotradio.co.nz/2013/02/new-music-mix-feb-2013/">Read more <span class="meta-nav">&rarr;</span></a></p>
                <a href="http://www.riotradio.co.nz/2013/02/new-music-mix-feb-2013/#respond" title="Comment on New music mix &#8211; February 2013"></a><br />
                <small>Posted in <a href="http://www.riotradio.co.nz/category/awesome-shit/" title="View all posts in Awesome Shit" rel="category tag">Awesome Shit</a>, <a href="http://www.riotradio.co.nz/category/mp3s/" title="View all posts in Mp3s" rel="category tag">Mp3s</a>, <a href="http://www.riotradio.co.nz/category/streaming/" title="View all posts in Streaming" rel="category tag">Streaming</a></small><br />
                <small>Tagged with: <a href="http://www.riotradio.co.nz/tag/bad-religion/" rel="tag">bad religion</a>, <a href="http://www.riotradio.co.nz/tag/bleeding-rainbow/" rel="tag">bleeding rainbow</a>, <a href="http://www.riotradio.co.nz/tag/free-energy/" rel="tag">free energy</a>, <a href="http://www.riotradio.co.nz/tag/joey-bada/" rel="tag">joey bada$$</a>, <a href="http://www.riotradio.co.nz/tag/my-bloody-valentine/" rel="tag">my bloody valentine</a>, <a href="http://www.riotradio.co.nz/tag/pure-love/" rel="tag">pure love</a>, <a href="http://www.riotradio.co.nz/tag/solange/" rel="tag">solange</a>, <a href="http://www.riotradio.co.nz/tag/the-game/" rel="tag">the game</a>, <a href="http://www.riotradio.co.nz/tag/the-postal-service/" rel="tag">the postal service</a>, <a href="http://www.riotradio.co.nz/tag/the-strokes/" rel="tag">the strokes</a>, <a href="http://www.riotradio.co.nz/tag/theophilus-london/" rel="tag">theophilus london</a>, <a href="http://www.riotradio.co.nz/tag/wavves/" rel="tag">wavves</a></small><br /><br />
                
                <!--<div class="homepage-share-buttons">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs)		;}}(document,"script","twitter-wjs");</script>
                    <div class="fb-like" data-href="" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false"></div>                    
                </div>-->
                
                
                <hr />
				</div><!-- End of class="homepage-story"-->
				
                			
			
			<div class="homepage-story">
			<h2 class="entry-title"><strong><a href="http://www.riotradio.co.nz/2013/02/review-pure-love-anthems/">Review: Pure Love &#8211; &#8216;Anthems&#8217;</a></strong></h2>
			
            <small class="author-info">February 16th, 2013 by <a href="http://www.riotradio.co.nz/author/rich/" title="Posts by Rich" rel="author">Rich</a></small><br />
			<img width="250" height="250" src="http://www.riotradio.co.nz/wp-content/uploads/2013/02/PL-ANTHEMS_COVER_v2-Bsmall.jpg" class="left wp-post-image" alt="Pure Love - Anthems" />				
				<p>Remember that time when one of your fave bands put out a couple of epic hardcore records, and then the vocalist pulled the &#8220;musical differences&#8221; card, upped sticks and left to work on a new project with the former guitarist of another great hardcore band? For me, that time was about July 2011, when Frank Carter quit Gallows and joined up with Jim Carroll of The Hope Conspiracy in a band called Pure Love.  I knew the hardcore scene was quite incestuous, but I was intrigued by Frank&#8217;s &#8220;musical differences&#8221; and then forming a band with Jim. Fast forward to April 2012, and the release of Pure love&#8217;s debut single, &#8216;Bury My Bones&#8217;. Imagine my surprise at hearing the man who once spat &#8220;we have no fear, we have no pity &#8230; we hate you, we hate this city&#8221; melodiously singing &#8221; I&#8217;m so sick of singing about hate, it&#8217;s never gonna make &hellip; <a href="http://www.riotradio.co.nz/2013/02/review-pure-love-anthems/">Read more <span class="meta-nav">&rarr;</span></a></p>
                <a href="http://www.riotradio.co.nz/2013/02/review-pure-love-anthems/#respond" title="Comment on Review: Pure Love &#8211; &#8216;Anthems&#8217;"></a><br />
                <small>Posted in <a href="http://www.riotradio.co.nz/category/awesome-shit/" title="View all posts in Awesome Shit" rel="category tag">Awesome Shit</a>, <a href="http://www.riotradio.co.nz/category/best-new-music/" title="View all posts in Best New Music" rel="category tag">Best New Music</a>, <a href="http://www.riotradio.co.nz/category/reviews/" title="View all posts in Reviews" rel="category tag">Reviews</a></small><br />
                <small></small><br /><br />
                
                <!--<div class="homepage-share-buttons">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs)		;}}(document,"script","twitter-wjs");</script>
                    <div class="fb-like" data-href="" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false"></div>                    
                </div>-->
                
                
                <hr />
				</div><!-- End of class="homepage-story"-->
				
                			
			
			<div class="homepage-story">
			<h2 class="entry-title"><strong><a href="http://www.riotradio.co.nz/2013/02/review-my-bloody-valentine-m-b-v/">Review: My Bloody Valentine &#8211; &#8216;m b v&#8217;</a></strong></h2>
			
            <small class="author-info">February 6th, 2013 by <a href="http://www.riotradio.co.nz/author/nostars/" title="Posts by Mike" rel="author">Mike</a></small><br />
			<img width="250" height="250" src="http://www.riotradio.co.nz/wp-content/uploads/2013/02/mbv.jpg" class="left wp-post-image" alt="My Bloody Valentine - M B V" />				
				<p>If the Mayans were wrong about the apocalypse, then surely the release of a new My Bloody Valentine album is a much more significant sign that the end times are upon us. Their last album &#8211; the undeniably classic Loveless &#8211; was released in 1991, and despite the band never officially breaking up, the development of a follow up has been in the works since the mid 90s. Just think about all the water under the bridge since then: since Loveless&#8216;s release we&#8217;ve had grunge, the entire golden era of hip hop, the rise of electronic music, hell, even the internet wasn&#8217;t around to any recognisable extent in 1991. The world is a very different place since My Bloody Valentine last released some original music. That&#8217;s a lot of historical baggage to be saddled with. The trick to enjoying new albums from classic bands is to listen to them for &hellip; <a href="http://www.riotradio.co.nz/2013/02/review-my-bloody-valentine-m-b-v/">Read more <span class="meta-nav">&rarr;</span></a></p>
                <a href="http://www.riotradio.co.nz/2013/02/review-my-bloody-valentine-m-b-v/#respond" title="Comment on Review: My Bloody Valentine &#8211; &#8216;m b v&#8217;"></a><br />
                <small>Posted in <a href="http://www.riotradio.co.nz/category/awesome-shit/" title="View all posts in Awesome Shit" rel="category tag">Awesome Shit</a>, <a href="http://www.riotradio.co.nz/category/reviews/" title="View all posts in Reviews" rel="category tag">Reviews</a>, <a href="http://www.riotradio.co.nz/category/streaming/" title="View all posts in Streaming" rel="category tag">Streaming</a></small><br />
                <small>Tagged with: <a href="http://www.riotradio.co.nz/tag/my-bloody-valentine/" rel="tag">my bloody valentine</a>, <a href="http://www.riotradio.co.nz/tag/reunions/" rel="tag">reunions</a>, <a href="http://www.riotradio.co.nz/tag/shoegaze/" rel="tag">shoegaze</a></small><br /><br />
                
                <!--<div class="homepage-share-buttons">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs)		;}}(document,"script","twitter-wjs");</script>
                    <div class="fb-like" data-href="" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false"></div>                    
                </div>-->
                
                
                <hr />
				</div><!-- End of class="homepage-story"-->
				
                			
			
			<div class="homepage-story">
			<h2 class="entry-title"><strong><a href="http://www.riotradio.co.nz/2013/01/first-classic-track-of-the-year-joey-bada-unorthodox/">First Classic Track of the Year: Joey Bada$$ &#8211; &#8216;Unorthodox&#8217;</a></strong></h2>
			
            <small class="author-info">January 20th, 2013 by <a href="http://www.riotradio.co.nz/author/nostars/" title="Posts by Mike" rel="author">Mike</a></small><br />
			<img width="250" height="250" src="http://www.riotradio.co.nz/wp-content/uploads/2013/01/artworks-000038299116-fbwnyc-t500x500.jpg" class="left wp-post-image" alt="Joey Bada$$ / Dj Premier &quot;Unorthodox&quot;" />				
				<p>Joey Bada$$ is a rapper from Brooklyn who raps in the classic New York style. There&#8217;s nothing retro about this &#8211; just a simple love of hip hop and hip hop traditions, a focus on lyrics and flow rather than production and pimping. Having said that, the track is produced by DJ Premier so you know you&#8217;re in for a treat. Keep an eye out for an album from Joey later this year &#8211; fingers crossed for another superb year of hip hop in 2013.</p>
<p>Click through to listen and grab a free download.</p>
<p> <a href="http://www.riotradio.co.nz/2013/01/first-classic-track-of-the-year-joey-bada-unorthodox/">Read more <span class="meta-nav">&rarr;</span></a></p>
                <a href="http://www.riotradio.co.nz/2013/01/first-classic-track-of-the-year-joey-bada-unorthodox/#respond" title="Comment on First Classic Track of the Year: Joey Bada$$ &#8211; &#8216;Unorthodox&#8217;"></a><br />
                <small>Posted in <a href="http://www.riotradio.co.nz/category/awesome-shit/" title="View all posts in Awesome Shit" rel="category tag">Awesome Shit</a>, <a href="http://www.riotradio.co.nz/category/mp3s/" title="View all posts in Mp3s" rel="category tag">Mp3s</a>, <a href="http://www.riotradio.co.nz/category/streaming/" title="View all posts in Streaming" rel="category tag">Streaming</a>, <a href="http://www.riotradio.co.nz/category/top-songs/" title="View all posts in Top Songs" rel="category tag">Top Songs</a></small><br />
                <small>Tagged with: <a href="http://www.riotradio.co.nz/tag/dj-premier/" rel="tag">dj premier</a>, <a href="http://www.riotradio.co.nz/tag/joey-bada/" rel="tag">joey bada$$</a></small><br /><br />
                
                <!--<div class="homepage-share-buttons">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs)		;}}(document,"script","twitter-wjs");</script>
                    <div class="fb-like" data-href="" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false"></div>                    
                </div>-->
                
                
                <hr />
				</div><!-- End of class="homepage-story"-->
				
                			
			
			<div class="homepage-story">
			<h2 class="entry-title"><strong><a href="http://www.riotradio.co.nz/2013/01/nme-predicts-the-return-of-guitar-rock-in-2013-monkeys-throw-poo/">NME Predicts the Return of Guitar Rock in 2013, Monkeys Throw Poo</a></strong></h2>
			
            <small class="author-info">January 5th, 2013 by <a href="http://www.riotradio.co.nz/author/nostars/" title="Posts by Mike" rel="author">Mike</a></small><br />
			<img width="250" height="150" src="http://www.riotradio.co.nz/wp-content/uploads/2013/01/Palma-Violets-008.jpg" class="left wp-post-image" alt="Palma Violets" />				
				<p>I had to chuckle when I saw this one on NME.com: &#8220;Radio 1 boss, Rough Trade and Paul Weller predict the return of guitar music in 2013&#8243;. Well of course they do. This is about as startling a revelation as Snow Patrol predicting piano-driven snore-fests as the next big musical movement, or Nicky Minaj predicting a fashion surge in stupid fucking purple wigs and collagen. I used to love NME. For a long time they were THE source of all things Indie Rock and UK based. But sadly, in the last few years the UK indie rock scene has been more than a little tired and uninspired, with the cutting edge of new music swinging accross the other side of the Atlantic as it is want to do every decade or so. The last time the NME were on point was with the Klaxons &#8211; roughly the same time as &hellip; <a href="http://www.riotradio.co.nz/2013/01/nme-predicts-the-return-of-guitar-rock-in-2013-monkeys-throw-poo/">Read more <span class="meta-nav">&rarr;</span></a></p>
                <a href="http://www.riotradio.co.nz/2013/01/nme-predicts-the-return-of-guitar-rock-in-2013-monkeys-throw-poo/#comments" title="Comment on NME Predicts the Return of Guitar Rock in 2013, Monkeys Throw Poo">1 <img src="/wp-content/themes/riotradio/images/speech-bubble.png" alt="Comment" title="1 Comment"></a><br />
                <small>Posted in <a href="http://www.riotradio.co.nz/category/news/" title="View all posts in News" rel="category tag">News</a>, <a href="http://www.riotradio.co.nz/category/overrated/" title="View all posts in Overrated" rel="category tag">Overrated</a>, <a href="http://www.riotradio.co.nz/category/streaming/" title="View all posts in Streaming" rel="category tag">Streaming</a></small><br />
                <small>Tagged with: <a href="http://www.riotradio.co.nz/tag/nme/" rel="tag">nme</a>, <a href="http://www.riotradio.co.nz/tag/parma-violets/" rel="tag">parma violets</a>, <a href="http://www.riotradio.co.nz/tag/paul-weller/" rel="tag">paul weller</a>, <a href="http://www.riotradio.co.nz/tag/the-strypes/" rel="tag">the strypes</a></small><br /><br />
                
                <!--<div class="homepage-share-buttons">
                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="">Tweet</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs)		;}}(document,"script","twitter-wjs");</script>
                    <div class="fb-like" data-href="" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false"></div>                    
                </div>-->
                
                
                <hr />
				</div><!-- End of class="homepage-story"-->
				
                             <br />
             <big><a href="http://www.riotradio.co.nz/page/2/" >Next Page &raquo;</a></big>
            
             
			</div><!-- #content -->
		</div><!-- #container -->


		<div id="primary" class="widget-area" role="complementary">
			<ul class="xoxo">

<li id="text-3" class="widget-container widget_text">			<div class="textwidget"><br /><strong><span>Riot Radio</span></strong><br />
Death to conservative music journalism.

</div>
		</li><li id="twitter" class="widget-container widget_Twidget"><a class="twitter-timeline" data-dnt=true href="https://twitter.com/RiotRadioNZ" data-widget-id="292472574313631745"><h3 class="widget-title">Twitter</h3></a>
		      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></li><li id="search-2" class="widget-container widget_search"><form role="search" method="get" id="searchform" action="http://www.riotradio.co.nz/" >
	<div><label class="screen-reader-text" for="s">Search for:</label>
	<input type="text" value="" name="s" id="s" />
	<input type="submit" id="searchsubmit" value="Search" />
	</div>
	</form></li><li id="tag_cloud-3" class="widget-container widget_tag_cloud"><h3 class="widget-title">Tags</h3><div class="tagcloud"><a href='http://www.riotradio.co.nz/tag/arctic-monkeys/' class='tag-link-189' title='3 topics' style='font-size: 11.574468085106pt;'>arctic monkeys</a>
<a href='http://www.riotradio.co.nz/tag/at-the-drive-in/' class='tag-link-132' title='4 topics' style='font-size: 14.553191489362pt;'>at the drive-in</a>
<a href='http://www.riotradio.co.nz/tag/bad-religion/' class='tag-link-64' title='2 topics' style='font-size: 8pt;'>bad religion</a>
<a href='http://www.riotradio.co.nz/tag/best-coast/' class='tag-link-72' title='8 topics' style='font-size: 22pt;'>best coast</a>
<a href='http://www.riotradio.co.nz/tag/chiddy-bang/' class='tag-link-78' title='6 topics' style='font-size: 19.021276595745pt;'>chiddy bang</a>
<a href='http://www.riotradio.co.nz/tag/conservatism/' class='tag-link-73' title='2 topics' style='font-size: 8pt;'>Conservatism</a>
<a href='http://www.riotradio.co.nz/tag/conservatives/' class='tag-link-75' title='2 topics' style='font-size: 8pt;'>conservatives</a>
<a href='http://www.riotradio.co.nz/tag/cults/' class='tag-link-161' title='3 topics' style='font-size: 11.574468085106pt;'>cults</a>
<a href='http://www.riotradio.co.nz/tag/dinosaur-jr/' class='tag-link-37' title='2 topics' style='font-size: 8pt;'>dinosaur jr</a>
<a href='http://www.riotradio.co.nz/tag/does-it-offend-you-yeah/' class='tag-link-63' title='2 topics' style='font-size: 8pt;'>does it offend you yeah</a>
<a href='http://www.riotradio.co.nz/tag/emmy-the-great/' class='tag-link-18' title='3 topics' style='font-size: 11.574468085106pt;'>emmy the great</a>
<a href='http://www.riotradio.co.nz/tag/fucked-up/' class='tag-link-212' title='3 topics' style='font-size: 11.574468085106pt;'>fucked up</a>
<a href='http://www.riotradio.co.nz/tag/get-cape-wear-cape-fly/' class='tag-link-19' title='3 topics' style='font-size: 11.574468085106pt;'>get cape wear cape fly</a>
<a href='http://www.riotradio.co.nz/tag/green-day/' class='tag-link-35' title='3 topics' style='font-size: 11.574468085106pt;'>green day</a>
<a href='http://www.riotradio.co.nz/tag/jay-z/' class='tag-link-215' title='3 topics' style='font-size: 11.574468085106pt;'>jay z</a>
<a href='http://www.riotradio.co.nz/tag/justin-townes-earle/' class='tag-link-17' title='2 topics' style='font-size: 8pt;'>justin townes earle</a>
<a href='http://www.riotradio.co.nz/tag/kanye-west/' class='tag-link-90' title='5 topics' style='font-size: 16.936170212766pt;'>kanye west</a>
<a href='http://www.riotradio.co.nz/tag/liam-finn/' class='tag-link-163' title='3 topics' style='font-size: 11.574468085106pt;'>liam finn</a>
<a href='http://www.riotradio.co.nz/tag/lightspeed-champion/' class='tag-link-28' title='2 topics' style='font-size: 8pt;'>lightspeed champion</a>
<a href='http://www.riotradio.co.nz/tag/lily-allen/' class='tag-link-36' title='2 topics' style='font-size: 8pt;'>lily allen</a>
<a href='http://www.riotradio.co.nz/tag/lupe-fiasco/' class='tag-link-125' title='3 topics' style='font-size: 11.574468085106pt;'>Lupe Fiasco</a>
<a href='http://www.riotradio.co.nz/tag/metallica/' class='tag-link-39' title='2 topics' style='font-size: 8pt;'>metallica</a>
<a href='http://www.riotradio.co.nz/tag/mgmt/' class='tag-link-91' title='2 topics' style='font-size: 8pt;'>mgmt</a>
<a href='http://www.riotradio.co.nz/tag/nme/' class='tag-link-71' title='3 topics' style='font-size: 11.574468085106pt;'>nme</a>
<a href='http://www.riotradio.co.nz/tag/oasis/' class='tag-link-107' title='2 topics' style='font-size: 8pt;'>Oasis</a>
<a href='http://www.riotradio.co.nz/tag/pains-of-being-pure-at-heart/' class='tag-link-221' title='3 topics' style='font-size: 11.574468085106pt;'>pains of being pure at heart</a>
<a href='http://www.riotradio.co.nz/tag/red-hot-chili-peppers/' class='tag-link-121' title='3 topics' style='font-size: 11.574468085106pt;'>red hot chili peppers</a>
<a href='http://www.riotradio.co.nz/tag/steven-sourman/' class='tag-link-112' title='3 topics' style='font-size: 11.574468085106pt;'>Steven Sourman</a>
<a href='http://www.riotradio.co.nz/tag/stone-roses/' class='tag-link-133' title='4 topics' style='font-size: 14.553191489362pt;'>stone roses</a>
<a href='http://www.riotradio.co.nz/tag/sufjan-stevens/' class='tag-link-84' title='2 topics' style='font-size: 8pt;'>sufjan stevens</a>
<a href='http://www.riotradio.co.nz/tag/teenage-fanclub/' class='tag-link-88' title='2 topics' style='font-size: 8pt;'>teenage fanclub</a>
<a href='http://www.riotradio.co.nz/tag/the-doors/' class='tag-link-43' title='2 topics' style='font-size: 8pt;'>the doors</a>
<a href='http://www.riotradio.co.nz/tag/the-go-team/' class='tag-link-11' title='5 topics' style='font-size: 16.936170212766pt;'>the go! team</a>
<a href='http://www.riotradio.co.nz/tag/the-horrors/' class='tag-link-182' title='5 topics' style='font-size: 16.936170212766pt;'>the horrors</a>
<a href='http://www.riotradio.co.nz/tag/the-men/' class='tag-link-213' title='3 topics' style='font-size: 11.574468085106pt;'>the men</a>
<a href='http://www.riotradio.co.nz/tag/the-naked-and-famous/' class='tag-link-62' title='3 topics' style='font-size: 11.574468085106pt;'>the naked and famous</a>
<a href='http://www.riotradio.co.nz/tag/theophilus-london/' class='tag-link-160' title='4 topics' style='font-size: 14.553191489362pt;'>theophilus london</a>
<a href='http://www.riotradio.co.nz/tag/the-shins/' class='tag-link-86' title='2 topics' style='font-size: 8pt;'>the shins</a>
<a href='http://www.riotradio.co.nz/tag/the-strokes/' class='tag-link-127' title='5 topics' style='font-size: 16.936170212766pt;'>the strokes</a>
<a href='http://www.riotradio.co.nz/tag/tommy-ill/' class='tag-link-92' title='2 topics' style='font-size: 8pt;'>tommy ill</a>
<a href='http://www.riotradio.co.nz/tag/washed-out/' class='tag-link-210' title='4 topics' style='font-size: 14.553191489362pt;'>washed out</a>
<a href='http://www.riotradio.co.nz/tag/wavves/' class='tag-link-69' title='5 topics' style='font-size: 16.936170212766pt;'>wavves</a>
<a href='http://www.riotradio.co.nz/tag/weezer/' class='tag-link-34' title='3 topics' style='font-size: 11.574468085106pt;'>weezer</a>
<a href='http://www.riotradio.co.nz/tag/wilco/' class='tag-link-38' title='5 topics' style='font-size: 16.936170212766pt;'>wilco</a>
<a href='http://www.riotradio.co.nz/tag/yuck/' class='tag-link-183' title='3 topics' style='font-size: 11.574468085106pt;'>yuck</a></div>
</li><li id="text-5" class="widget-container widget_text"><h3 class="widget-title">Worst Albums Of All Time</h3>			<div class="textwidget"><br />
<ul>
<li>
<a href="/2012/08/worst-albums-all-time-the-clash-cut-crap/">The Clash - "Cut The Crap"</a></li>
<li>
<a href="/2011/08/worst-albums-of-all-time-u2-all-that-you-cant-leave-behind/">U2 - "All That You Can't Leave Behind"</a></li>
<li>
<a href="/2011/06/worst-albums-of-all-time-mgmt-congratulations/">MGMT - "Congratulations"</a></li>
<li>
<a href="/2011/05/worst-albums-of-all-time-the-verve-urban-hymns/">The Verve - "Urban Hymns"</a></li>
<li>
<a href="/2011/05/worst-albums-of-all-time-bob-dylan-christmas-in-the-heart/">Bob Dylan - "Christmas In The Heart"</a></li>
<li>
<a href="/2011/04/worst-albums-of-all-time-weezer-make-believe/">Weezer - "Make Believe"</a></li>
<li>
<a href="/2011/03/worst-albums-of-all-time-red-hot-chili-peppers-californication/">Red Hot Chili Peppers - "Californication"</a></li>
<li>
<a href="/2011/02/worst-albums-of-all-time-metallica-the-black-album/">Metallica - "Metallica (The Black Album)"</a></li>
</ul>
<br />
<a href="/worst-albums-of-all-time-chart/">Check out the full Worst Albums of All Time chart!</a>
</div>
		</li><li id="categories-2" class="widget-container widget_categories"><h3 class="widget-title">Categories</h3>		<ul>
	<li class="cat-item cat-item-10"><a href="http://www.riotradio.co.nz/category/awesome-shit/" title="View all posts filed under Awesome Shit">Awesome Shit</a>
</li>
	<li class="cat-item cat-item-114"><a href="http://www.riotradio.co.nz/category/best-lyrics/" title="View all posts filed under Best Lyrics">Best Lyrics</a>
</li>
	<li class="cat-item cat-item-136"><a href="http://www.riotradio.co.nz/category/best-new-music/" title="View all posts filed under Best New Music">Best New Music</a>
</li>
	<li class="cat-item cat-item-118"><a href="http://www.riotradio.co.nz/category/classic-albums/" title="View all posts filed under Classic Albums">Classic Albums</a>
</li>
	<li class="cat-item cat-item-113"><a href="http://www.riotradio.co.nz/category/conservative-music-journalism/" title="View all posts filed under Conservative Music Journalism">Conservative Music Journalism</a>
</li>
	<li class="cat-item cat-item-8"><a href="http://www.riotradio.co.nz/category/gigs/" title="View all posts filed under Gigs">Gigs</a>
</li>
	<li class="cat-item cat-item-126"><a href="http://www.riotradio.co.nz/category/guerrilla-geek/" title="View all posts filed under Guerrilla Geek">Guerrilla Geek</a>
</li>
	<li class="cat-item cat-item-152"><a href="http://www.riotradio.co.nz/category/guest-posts/" title="View all posts filed under Guest Posts">Guest Posts</a>
</li>
	<li class="cat-item cat-item-4"><a href="http://www.riotradio.co.nz/category/lists/" title="View all posts filed under Lists">Lists</a>
</li>
	<li class="cat-item cat-item-7"><a href="http://www.riotradio.co.nz/category/mp3s/" title="View all posts filed under Mp3s">Mp3s</a>
</li>
	<li class="cat-item cat-item-9"><a href="http://www.riotradio.co.nz/category/musichype/" title="View all posts filed under MusicHype">MusicHype</a>
</li>
	<li class="cat-item cat-item-291"><a href="http://www.riotradio.co.nz/category/news/" title="View all posts filed under News">News</a>
</li>
	<li class="cat-item cat-item-97"><a href="http://www.riotradio.co.nz/category/overrated/" title="View all posts filed under Overrated">Overrated</a>
</li>
	<li class="cat-item cat-item-5"><a href="http://www.riotradio.co.nz/category/rants/" title="View all posts filed under Rants">Rants</a>
</li>
	<li class="cat-item cat-item-3"><a href="http://www.riotradio.co.nz/category/reviews/" title="View all posts filed under Reviews">Reviews</a>
</li>
	<li class="cat-item cat-item-112"><a href="http://www.riotradio.co.nz/category/steven-sourman/" title="View all posts filed under Steven Sourman">Steven Sourman</a>
</li>
	<li class="cat-item cat-item-181"><a href="http://www.riotradio.co.nz/category/streaming/" title="View all posts filed under Streaming">Streaming</a>
</li>
	<li class="cat-item cat-item-103"><a href="http://www.riotradio.co.nz/category/tips/" title="View all posts filed under Tips">Tips</a>
</li>
	<li class="cat-item cat-item-120"><a href="http://www.riotradio.co.nz/category/top-songs/" title="View all posts filed under Top Songs">Top Songs</a>
</li>
	<li class="cat-item cat-item-1"><a href="http://www.riotradio.co.nz/category/uncategorized/" title="View all posts filed under Uncategorized">Uncategorized</a>
</li>
	<li class="cat-item cat-item-6"><a href="http://www.riotradio.co.nz/category/why-are-they-famous/" title="View all posts filed under Why are they famous?">Why are they famous?</a>
</li>
	<li class="cat-item cat-item-98"><a href="http://www.riotradio.co.nz/category/worst-albums/" title="View all posts filed under Worst Albums">Worst Albums</a>
</li>
		</ul>
</li>        <li id="recently-on-last-fm" class="widget-container LastFMRecentTracksWidget_widget_lastfmrecentracks">
        <style type="text/css">
        	<!--
				.sp_list_itm_span { display:block; }
			-->
        </style>
        <h3 class="widget-title"> 
        	<a href="http://www.last.fm/user/MikePenhall" target="_blank">Recently on Last.fm</a>
        </h3>
        <ul id='recent_on_last_fm_itm_list'></ul>
        <script type="text/javascript">
        	jQuery('#recent_on_last_fm_itm_list').lastfm( { params : { limit : "20", user : "MikePenhall"  } } );
        </script>
        </li><li id="recent-comments-2" class="widget-container widget_recent_comments"><h3 class="widget-title">Recent Comments</h3><ul id="recentcomments"><li class="recentcomments"><a onclick="javascript:_gaq.push(['_trackPageview', '/out/mobilize.org/groups/wagner-airless-paint-sprayers-related-articles/']);"  href='http://mobilize.org/groups/wagner-airless-paint-sprayers-related-articles/' rel='external nofollow' class='url'>mobilize.org</a> on <a href="http://www.riotradio.co.nz/2012/08/worst-albums-all-time-the-clash-cut-crap/#comment-1104">Worst Albums of All Time: The Clash &#8211; &#8216;Cut the Crap&#8217;</a></li><li class="recentcomments"><a onclick="javascript:_gaq.push(['_trackPageview', '/out/iIGURBbVchHB3Di74wG.nl']);"  href='http://iIGURBbVchHB3Di74wG.nl' rel='external nofollow' class='url'>sslIe3rylBDSk</a> on <a href="http://www.riotradio.co.nz/2011/03/riot-radio-on-the-egonomist-podcast/#comment-1103">Riot Radio on The Egonomist podcast</a></li><li class="recentcomments">Stuartq on <a href="http://www.riotradio.co.nz/2011/02/worst-albums-of-all-time-metallica-the-black-album/#comment-1102">Worst Albums Of All Time: Metallica (The Black Album)</a></li><li class="recentcomments">Edwin Montesinos on <a href="http://www.riotradio.co.nz/2011/03/worst-albums-of-all-time-red-hot-chili-peppers-californication/#comment-1101">Worst Albums Of All Time: Red Hot Chili Peppers &#8211; &#8220;Californication&#8221;</a></li><li class="recentcomments">Marchcool on <a href="http://www.riotradio.co.nz/2011/10/why-the-fuck-do-people-like-mumford-and-sons-so-much/#comment-1099">Why the fuck do people like Mumford and Sons so much?</a></li></ul></li><li id="archives-2" class="widget-container widget_archive"><h3 class="widget-title">Archives</h3>		<ul>
			<li><a href='http://www.riotradio.co.nz/2013/05/' title='May 2013'>May 2013</a></li>
	<li><a href='http://www.riotradio.co.nz/2013/04/' title='April 2013'>April 2013</a></li>
	<li><a href='http://www.riotradio.co.nz/2013/03/' title='March 2013'>March 2013</a></li>
	<li><a href='http://www.riotradio.co.nz/2013/02/' title='February 2013'>February 2013</a></li>
	<li><a href='http://www.riotradio.co.nz/2013/01/' title='January 2013'>January 2013</a></li>
	<li><a href='http://www.riotradio.co.nz/2012/12/' title='December 2012'>December 2012</a></li>
	<li><a href='http://www.riotradio.co.nz/2012/10/' title='October 2012'>October 2012</a></li>
	<li><a href='http://www.riotradio.co.nz/2012/08/' title='August 2012'>August 2012</a></li>
	<li><a href='http://www.riotradio.co.nz/2012/06/' title='June 2012'>June 2012</a></li>
	<li><a href='http://www.riotradio.co.nz/2012/04/' title='April 2012'>April 2012</a></li>
	<li><a href='http://www.riotradio.co.nz/2012/03/' title='March 2012'>March 2012</a></li>
	<li><a href='http://www.riotradio.co.nz/2012/02/' title='February 2012'>February 2012</a></li>
	<li><a href='http://www.riotradio.co.nz/2012/01/' title='January 2012'>January 2012</a></li>
	<li><a href='http://www.riotradio.co.nz/2011/12/' title='December 2011'>December 2011</a></li>
	<li><a href='http://www.riotradio.co.nz/2011/11/' title='November 2011'>November 2011</a></li>
	<li><a href='http://www.riotradio.co.nz/2011/10/' title='October 2011'>October 2011</a></li>
	<li><a href='http://www.riotradio.co.nz/2011/09/' title='September 2011'>September 2011</a></li>
	<li><a href='http://www.riotradio.co.nz/2011/08/' title='August 2011'>August 2011</a></li>
	<li><a href='http://www.riotradio.co.nz/2011/07/' title='July 2011'>July 2011</a></li>
	<li><a href='http://www.riotradio.co.nz/2011/06/' title='June 2011'>June 2011</a></li>
	<li><a href='http://www.riotradio.co.nz/2011/05/' title='May 2011'>May 2011</a></li>
	<li><a href='http://www.riotradio.co.nz/2011/04/' title='April 2011'>April 2011</a></li>
	<li><a href='http://www.riotradio.co.nz/2011/03/' title='March 2011'>March 2011</a></li>
	<li><a href='http://www.riotradio.co.nz/2011/02/' title='February 2011'>February 2011</a></li>
	<li><a href='http://www.riotradio.co.nz/2011/01/' title='January 2011'>January 2011</a></li>
	<li><a href='http://www.riotradio.co.nz/2010/12/' title='December 2010'>December 2010</a></li>
	<li><a href='http://www.riotradio.co.nz/2010/11/' title='November 2010'>November 2010</a></li>
	<li><a href='http://www.riotradio.co.nz/2009/07/' title='July 2009'>July 2009</a></li>
	<li><a href='http://www.riotradio.co.nz/2009/03/' title='March 2009'>March 2009</a></li>
	<li><a href='http://www.riotradio.co.nz/2009/02/' title='February 2009'>February 2009</a></li>
		</ul>
</li><li id="text-4" class="widget-container widget_text">			<div class="textwidget"><iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FRiot-Radio%2F111168912289655&amp;width=200&amp;colorscheme=light&amp;connections=6&amp;stream=true&amp;header=true&amp;height=587" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:587px;" allowTransparency="true"></iframe></div>
		</li>			</ul>
		</div><!-- #primary .widget-area -->

	</div><!-- #main -->

	<div id="footer" role="contentinfo">
		<div id="colophon">



			<div id="footer-widget-area" role="complementary">

				<div id="first" class="widget-area">
					<ul class="xoxo">
						<li id="meta-2" class="widget-container widget_meta"><h3 class="widget-title">Meta</h3>			<ul>
			<li><a rel="nofollow" href="http://www.riotradio.co.nz/wp-login.php?action=register">Register</a></li>			<li><a rel="nofollow" href="http://www.riotradio.co.nz/wp-login.php">Log in</a></li>
			<li><a href="http://www.riotradio.co.nz/feed/" title="Syndicate this site using RSS 2.0">Entries <abbr title="Really Simple Syndication">RSS</abbr></a></li>
			<li><a href="http://www.riotradio.co.nz/comments/feed/" title="The latest comments to all posts in RSS">Comments <abbr title="Really Simple Syndication">RSS</abbr></a></li>
			<li><a href="http://wordpress.org/" title="Powered by WordPress, state-of-the-art semantic personal publishing platform.">WordPress.org</a></li>
						</ul>
</li>					</ul>
				</div><!-- #first .widget-area -->




			</div><!-- #footer-widget-area -->

			<div id="site-info">
				<a href="http://www.riotradio.co.nz/" title="Riot Radio" rel="home">
					Riot Radio				</a>
			</div><!-- #site-info -->

			<div id="site-generator">
								<a href="http://wordpress.org/"
						title="Semantic Personal Publishing Platform" rel="generator">
					Proudly powered by WordPress.				</a>
			</div><!-- #site-generator -->

		</div><!-- #colophon -->
	</div><!-- #footer -->

</div><!-- #wrapper -->


<script src="https://apis.google.com/js/plusone.js">{lang: "en-US"}</script>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<!-- Google Analytics Code added by Web Ninja Google Analytics plugin v1.0.7: http://josh-fowler.com/?page_id=70 -->

</body>
</html>

