<!DOCTYPE html>
<html>
<head>
  <title>Home | Riot Radio</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta property="og:type" content="blog" />
	<meta property="og:site_name" content="Riot Radio" />
	<meta property='og:url' content="http://www.riotradio.co.nz" />
	<script type="text/javascript" src="http://www.riotradio.co.nz/wp-content/plugins/lastfm-recent-tracks-widget/js/jquery.lastfm.js"></script>
	<script type="text/javascript">
		jQuery(function(){
			jQuery('.lastfm_record').mosaic({
				animation	: '',
				speed		: ,
				anchor_y : 'bottom'				});
		});
	</script>
	</head>
	<body class="home blog">

		<%= render 'shared/navigation' %>

		<div class="container">
			<%= yield %>
		</div>

	</body>
</html>







